/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/commandlinetools/
.idea/php.xml
.idea/phpunit.xml
.idea/workspace.xml
.idea/MarketPlace.iml
package-lock.json
.idea
